# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
chicken/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
# ignore system cache and files
.DS_Store
.cache/
Thumbs.db
*.log
*.swp
*~
.env
tmp/

# IDE configurations
.idea/
.vscode/
*.iml
*.iws
.vs/
*.sublime-workspace
*.sublime-project
.project
.settings/
.classpath
.factorypath

